# env 파일
.env
map_searcher/.env

# mapbox token
map_searcher/web/config.js

# 대용량 데이터
map_searcher/data_raw/
map_searcher/data_processed/geojson/
map_searcher/data_processed/csv_by_sido/

# GIS 파일
*.geojson
*.gpkg
*.shp
*.dbf
*.shx
*.zip

# mac
.DS_Store

# python
__pycache__/